* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#cabecalho {
    height: 420px;
    background-image: url(../Midia/imgCampaing/hands.jpg);
}

#subCabecalho1 {
    height: 16.66%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#containerLogo,
#containerLogo img {
    height: 70px;
    width: 70px;
    margin-left: 25px;
}

#containerOpcoes {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 30px;
}

.opcoes {
    color: black;
    font-size: 15px;
    margin: 15px;
    text-decoration: none;
    transition: 0.4s ease;
    cursor: pointer;
}

.opcoes:hover {
    color: rgb(93, 141, 105);
}

#opcaoLogin {
    border-radius: 10px;
    background: rgb(93, 141, 105);
    width: 93px;
    height: 39px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s ease;
}

#opcaoLogin:hover {
    opacity: 0.7;
}

#subCabecalho2 {
    height: 83.33%;
}

#mascara {
    height: 100%;
    width: 707px;
    background-color: rgb(51, 51, 51, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#mascara div {
    height: 216px;
    width: 610px;
}

#mascara div h1 {
    color: white;
    margin: 15px;
    font-size: 103px;
    font-weight: 500;
}

#mascara div p {
    color: white;
}

#filterVacanciesBox {
    display: flex;
    flex-direction: row;
    background-color: white;
    height: 130px;
}

#filterVacanciesBox img {
    height: 30%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    left: 7%;
}

#filterVacanciesBox p {
    font-size: 27px;
    font-family: "Source Sans Pro", sans-serif;
    text-align: left;
    letter-spacing: 0px;
    line-height: 1;
    color: rgb(51, 51, 51);
    text-shadow: none;
    position: relative;
    left: 8.5%;
    top: 40%;
}

#selectFilterVacanciesContainer {
    display: flex;
    flex-direction: row;
    height: 100px;
    align-items: center;
    position: relative;
    left: 11.5%;
    margin-bottom: 20px;
    width: 85%;
    margin-left: 30px;
}

.selectFilterVacanciesBox {
    width: 20%;
    height: 100%;
    margin-left: 3px;
}

.selectFilterVacanciesBox h3 {
    position: relative;
    left: -6.5%;
    margin-bottom: 20px;
}

.selectFilterVacanciesBox select {
    width: 80%;
    height: 40%;
    border-radius: 20px;
    border: 1px solid black;
}

.selectFilterVacanciesBox input {
    width: 80%;
    height: 40%;
    border-radius: 20px;
    border: 1px solid black;
    padding: 3px 5px;
}

#selectFilterVacanciesContainer button {
    border-radius: 30px;
    background: rgb(93, 141, 105);
    color: white;
    text-align: center;
    transition: 0.4s ease;
    text-decoration: none;
    border: 1px solid rgb(51, 51, 51);
    padding: 15px 65px;
    font-size: 17px;
    position: relative;
    top: 5%;
    left: 2%;
    cursor: pointer;
}

#selectFilterVacanciesContainer button:hover {
    opacity: 0.7;
}

#trandingBox {
    display: flex;
    flex-direction: row;
    height: 100px;
    align-items: center;
}

#trandingBox img {
    height: 30%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    left: 7%;
}

#trandingBox p {
    position: relative;
    top: 50%;
    font-size: 27px;
    font-family: "Source Sans Pro", sans-serif;
    text-align: left;
    letter-spacing: 0px;
    line-height: 1;
    color: rgb(51, 51, 51);
    text-shadow: none;
    transform: translateY(-50%);
    left: 10%;
}

#trendingContainer {
    background-image: url(../Midia/imgIndex/caco.jpg);
    background-size: cover;
    height: 367px;
    width: 1032px;
    border-radius: 30px;
    box-shadow: 0px 1px 20px black;
    margin-top: 70px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#trendingSetaEsquerda {
    margin-left: 20px;
    cursor: pointer;
    transition: 0.4s ease;
    z-index: 2;
}

#trendingSetaEsquerda:hover {
    opacity: 0.5;
}

#trendingSetaDireita {
    position: relative;
    left: 44.6%;
    cursor: pointer;
    transition: 0.4s ease;
}

#trendingSetaDireita:hover {
    opacity: 0.5;
}

#mascaraTrending {
    height: 367px;
    width: 1032px;
    background-color: rgba(0, 0, 0, 0.527);
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#trendingBox {
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: left;
    letter-spacing: 0px;
    position: relative;
    left: 55px;
    top: -20px;
}

#trendingBox h3 {
    margin: 5px;
}

#trendingBox h1 {
    width: 400px;
    font-size: 60px;
    font-weight: 100;
}

#trendingBox p {
    font-weight: bold;
}

#vacancies {
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
}

#vacancies img {
    height: 30%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    left: 7%;
}

#vacancies p {
    position: relative;
    top: 50%;
    font-size: 27px;
    font-family: "Source Sans Pro", sans-serif;
    text-align: left;
    letter-spacing: 0px;
    line-height: 1;
    color: rgb(51, 51, 51);
    text-shadow: none;
    transform: translateY(-50%);
    left: 10%;
    width: 100px;
}

#vacanciesEndContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vacanciesEndBox {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cards {
    border-radius: 20px;
    height: 300px;
    width: 300px;
    background-size: cover;
    background-position: center;
    margin: 45px;
    display: flex;
    align-items: end;
}

#bixoVermelho {
    background-image: url(../Midia/imgIndex/bixoVermelho.jpg);
}

#pingu {
    background-image: url(../Midia/imgIndex/pingu.jpg);
}

#macarraoEmChamas {
    background-image: url(../Midia/imgIndex/macarraoEmChamas.jpg);
}

#burro {
    background-image: url(../Midia/imgIndex/burro.jpg);
    background-position-y: 0px;
}

#ratinho {
    background-image: url(../Midia/imgIndex/ratinho.jpg);
    background-position-y: 0px;
}

#caco {
    background-image: url(../Midia/imgIndex/caco.jpg);
}

.mascaraCards {
    background-color: white;
    width: 100%;
    height: 40%;
    box-shadow: 0px 2px 30px black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mascaraCards p {
    margin-left: 20px;
    font-weight: 700;
}

.mascaraCards a {
    margin-left: 230px;
    text-decoration: none;
    color: black;
    transition: 0.4s ease;
}

.mascaraCards a:hover {
    opacity: 0.7;
}

#seeMore {
    position: relative;
    left: 45%;
    top: 100%;
    font-size: 27px;
    font-family: "Source Sans Pro", sans-serif;
    text-align: left;
    letter-spacing: 0px;
    line-height: 1;
    color: rgb(51, 51, 51);
    text-shadow: none;
    width: 150px;
    margin-top: 100px;
    margin-bottom: 50px;
    border: none;
    cursor: pointer;
    transition: 0.4s ease;
    background: none;
}

#seeMore:hover {
    opacity: 0.7;
}

.colunasCards {
    display: flex;
    flex-direction: row;
}

#rodape {
    height: 300px;
    background-color: rgb(217, 217, 219);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.containerRodape {
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: -40px;
}

#caixaRodape1 {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    font-size: 17px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: left;
    letter-spacing: 0px;
    line-height: 1;
    color: rgb(70, 70, 70);
    text-shadow: none;
}

#caixaRodape1 h3 {
    margin-bottom: 10px;
}

#caixaRodape1 p {
    margin: 7px;
    margin-left: 30px;
    width: 110px;
    font-size: 18px;
}

#caixaRodape2 {
    display: flex;
    flex-direction: column;
    font-size: 17px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: left;
    letter-spacing: 0px;
    line-height: 1;
    color: rgb(70, 70, 70);
    text-shadow: none;
}

#caixaRodape2 h3 {
    margin-bottom: 18px;
}

.inputTextRodape {
    height: 43px;
    width: 250px;
    padding: 3px 5px;
    margin-bottom: 10px;
    font-size: 17px;
    border: 1px solid black;
    border-radius: 3px;
}

#caixaRodape2 textarea {
    font-size: 17px;
    border: 1px solid black;
    border-radius: 3px;
}

#submitRodape2 {
    width: 110px;
    border-radius: 19px;
    border-width: 1px;
    border-color: rgb(51, 51, 51);
    background: rgb(93, 141, 105);
    padding: 0px;
    border-style: solid;
    color: white;
    padding: 12px;
    position: relative;
    left: 70px;
    top: 10px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.4s ease;
}

#submitRodape2:hover {
    opacity: 0.7;
}

#caixaRodape3 {
    display: flex;
    flex-direction: column;
    font-size: 17px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: left;
    letter-spacing: 0px;
    line-height: 1;
    color: rgb(70, 70, 70);
    text-shadow: none;
}

#caixaRodape3 h3 {
    position: relative;
    top: -7px;
}

#caixaRodape3 img{
    width:350px;
    position: relative;
    left: 10px;
    top: -5px;
}

#cellCaixaRodape3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 19px;
    position: relative;
    top: -10px;
}

#cellCaixaRodape3 p {
    margin: 10px;
}
