* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#cabecalho {
    height: 420px;
    background-image: url(../Midia/imgCampaing/hands.jpg);
}

#subCabecalho1 {
    height: 16.66%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#containerLogo,
#containerLogo img {
    height: 70px;
    width: 70px;
    margin-left: 25px;
}

#containerOpcoes {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 30px;
}

.opcoes {
    color: black;
    font-size: 15px;
    margin: 15px;
    text-decoration: none;
    transition: 0.4s ease;
    cursor: pointer;
}

.opcoes:hover {
    color: rgb(93, 141, 105);
}

#opcaoLogin {
    border-radius: 10px;
    background: rgb(93, 141, 105);
    width: 93px;
    height: 39px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s ease;
}

#opcaoLogin:hover {
    opacity: 0.7;
}

.body-vaga {
    display: flex;
}

.path p {
    position: absolute;
    top: 150px;
    left: 5%;
    font-size: 18px;
    color: rgb(119, 110, 110);
}

img {
    width: 100%;
    margin-bottom: 10px;
}

.titulo-vaga {
    margin-left: 10%;
    font-size: 40px;
    margin-top: -10%;
    margin-bottom: 3%;
}

.container-img {
    margin-left: 10%;
    box-shadow: 3px 3px 3px 3px black;
    width: 40%;
    padding: 20px;
    border-radius: 5%;
    margin-bottom: 5%;
    
}

.subtopic {
    margin-bottom: 10px;
    font-size: 20px;
}

.description {
    margin-bottom: 15px;
}

.p-desc {
    margin-bottom: 15px;
}

.flex {
    display: flex;
}

.flex p {
    font-size: 15px;
    margin-left: 10px;
}

.linha {
    width: 130%;
    margin-left: 7%;
}

.date {
    margin: 10%;
    font-size: 30px;
}

.calendario {
    margin-left: 20%;
    margin-bottom: 30px;
    margin-top: -10%;
    height: 50px;
    border-radius: 40px;
    font-size: 20px;
    padding: 20px;
    width: 600px;
}

.text {
    margin-left: 40%;
}

.period {
    margin-left: 20%;
    margin-top: -5%;
    display: flex;
}

.period h2 {
    font-size: 25px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 60px;
}

.hour {
    height: 35px;
    width: 180px;
    border-radius: 10%;
    padding: 10px;
    margin-bottom: 40px;
}

.apply {
    margin-left: 15%;
    margin-top: 5%;
    width: 120%;
    border: none;
    padding: 15px;
    border-radius: 20px;
    color: white;
    background-color: rgb(34, 146, 34);
    font-size: 22px;
    cursor: pointer;

}

.apply:hover {
    background-color: rgb(43, 170, 43);
    transition: 0.5s;
}

.avaliacao {
    margin: 10%;
}

.avaliacao h4 {
    font-size: 22px;
    font: 100;
}

.expires {
    padding-left: 30%;
}

#rodape {
    height: 300px;
    background-color: rgb(217, 217, 219);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.containerRodape {
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: -40px;
}

#caixaRodape1 {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    font-size: 17px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: left;
    letter-spacing: 0px;
    line-height: 1;
    color: rgb(70, 70, 70);
    text-shadow: none;
}

#caixaRodape1 h3 {
    margin-bottom: 10px;
}

#caixaRodape1 p {
    margin: 7px;
    margin-left: 30px;
    width: 110px;
    font-size: 18px;
}

#caixaRodape2 {
    display: flex;
    flex-direction: column;
    font-size: 17px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: left;
    letter-spacing: 0px;
    line-height: 1;
    color: rgb(70, 70, 70);
    text-shadow: none;
}

#caixaRodape2 h3 {
    margin-bottom: 18px;
}

.inputTextRodape {
    height: 43px;
    width: 250px;
    padding: 3px 5px;
    margin-bottom: 10px;
    font-size: 17px;
    border: 1px solid black;
    border-radius: 3px;
}

#caixaRodape2 textarea {
    font-size: 17px;
    border: 1px solid black;
    border-radius: 3px;
}

#submitRodape2 {
    width: 110px;
    border-radius: 19px;
    border-width: 1px;
    border-color: rgb(51, 51, 51);
    background: rgb(93, 141, 105);
    padding: 0px;
    border-style: solid;
    color: white;
    padding: 12px;
    position: relative;
    left: 70px;
    top: 10px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.4s ease;
}

#submitRodape2:hover {
    opacity: 0.7;
}

#caixaRodape3 {
    display: flex;
    flex-direction: column;
    font-size: 17px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: left;
    letter-spacing: 0px;
    line-height: 1;
    color: rgb(70, 70, 70);
    text-shadow: none;
}

#caixaRodape3 h3 {
    position: relative;
    top: -7px;
}

#caixaRodape3 img{
    width:350px;
    position: relative;
    left: 10px;
    top: -5px;
}

#cellCaixaRodape3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 19px;
    position: relative;
    top: -10px;
}

#cellCaixaRodape3 p {
    margin: 10px;
}
