* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    background:		#DCDCDC;
    opacity: (1.5);
}

#cabecalho {
    height: 70px;
    background-color: white;
    display: flex;
    align-items: center;
}

#logo {
    border: none;
    position: relative;
    left: 60px;
    height: 100%;
}

#logo img {
    height: 100%;
    width: 68px;
    transition: 0.4s;
}

#logo img:hover {
    opacity: 0.7;
}

#opcoesCabecalho {
    position: relative;
    left: 780px;
    list-style: none;
    display: flex;
    text-decoration: none;
}

#opcoesCabecalho a {
    text-decoration: none;
    margin: 20px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    height: 28px;
}

#opcoesCabecalho #loginCabecalho {
    border-radius: 7px;
    border: 1px solid rgb(51, 51, 51);
    background: rgb(93, 141, 105);
    width: 90px;
    color: white;
}

.container {
    width: 100%;
}

.corpo {
    height: 90vh;
}

#Linkspesquisas{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-top: 24px;
    margin-left: 50px;
}

.section1 {
    background-color: white;
    color: black;
    width: 40%;
    height: 90vh;
    display: flex;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    float: left;
    margin-left: 40px;
}

#miolodescricao{
    text-align: justify;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    margin-right: 150px;
}
.section2 {
    color: #fff;
    width: 50%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}

h1 {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-top: 24px;
    margin-left: 50px;
}

h2 {
    color: black;
    font-size: 23px;
    margin-top: 22px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
}

input[type=button] {
    color: white;
    text-align: center;
    background: rgb(43, 97, 69);
    position: relative;
    font-size: 13px;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100px;
    margin: 0;
    margin-top: 40px;
    border: none;
}

input[type=button]:hover {
    background: rgb(93, 141, 105);
}

#pix {
    margin-left: 180px;
}

#cinco {
    margin-left: 35px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

#cem {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

#donation #EnviarDoacao {
    border-radius: 7px;
    border: 1px solid rgb(51, 51, 51);
    background: rgb(93, 141, 105);
    height: 35px;
    width: 35%;
    color: white;
}

#Donate {
    border-radius: 7px;
    border: 1px solid rgb(51, 51, 51);
    background: rgb(93, 141, 105);
    width: 90px;
    color: white;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    border-color: rgb(93, 141, 105);
    margin-left: 250px;
    margin-top: 18px;
}

p {
    text-align: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 10px;
    margin-top: 50px;
}

/*Rodape*/
footer {
    width: 100%;
    min-height: 250px;
    border-color: rgb(43, 97, 69);
    background: rgb(214, 219, 222);
    display: flex;
}

footer .boxs {
    width: 33%;
    min-height: 150px;
    padding: 20px;
}

footer .boxs:nth-child(4) {
    width: 400px;
}

.boxs h2 {
    color: black;
    margin-bottom: 20px;
    text-align: justify;
}

.boxs ul li {
    margin: 10px 0px;
    list-style: none;
}

.boxs ul li a {
    color: black;
    text-decoration: none;
}

.boxs ul li a:hover {
    color: rgb(43, 97, 69);
}

.boxs p {
    color: #fff;
    text-align: justify;
}

.btn {
    border-radius: 10px;
    border-width: 0px;
    border-color: rgb(51, 51, 51);
    background: rgb(93, 141, 105);
    padding: 0px;
    width: 100px;
    height: 30px;
    margin-right: 15px;
    color: white;
    font-size: 16px;
}

.btn a {
    color: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}